/* Boutton position form & couleur */
  .btn-toggle{

    top: 0px;
    right:0px;
    width: 0px;
    height: 23px;
    border-radius:8%;
    background:rgb(114, 114, 114);
    color:#fff;
    border:1px solid #333;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
    font-weight:bolder;
  }

  /* Curseur hover dark mode */
    .btn-toggle {
      --s: 60px;   /* the size of the image */
      --b: 2px;     /* the border thickness*/
      --g: 0px;    /* the gap */
      --c: #ffffff; /* the color */
    width: var(--s);
    outline: calc(var(--s)/7) solid rgba(0, 0, 0, 0);
    outline-offset: calc(var(--s)/-1);
    cursor: pointer;
    transition: 0.5s;
  }
  
  /* hover btn darkmode */
  .btn-toggle:hover{
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }
  
  /* Dark mode couleur */
  body.dark {
    color: rgb(0, 0, 0)!important;
    background: #333!important;
  }
  
  /* Light mode couleur */
  body.dark .btn-toggle{
    background: #f1f1f1;
    color: #333;
  }
  

  
  