@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
text-align: center;
background-color: rgb(174, 174, 112);
font-family: "Poppins", sans-serif;
}

/* LOGO */
#logo {
  font-size:20px;
  margin-right:1250px;
  margin-top:30px;
  color: white;
  letter-spacing:2px;
  text-shadow:2px 2px 5px;
}

/* Taille par section */
html, body, .section {
  height: 100%;
}

/* Rendre le scroll-bahavior plus smooth */
html {
  scroll-snap-type: y mandatory;scroll-snap-type: block mandatory;
  scroll-behavior: smooth;
}

/* Rendre le scroll-bahavior plus smooth */
html {
  scroll-snap-type: y mandatory;scroll-snap-type: block mandatory;
  scroll-behavior: smooth;
}

/* Rester à l'endroit même en actualisant */
.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /*-webkit-overflow-scrolling: touch;*/
  display: flex;
  align-items: center;
  justify-content: center;
}	
 
/* NAVBAR */
nav{
  position:fixed;
  top: 0;
  padding-top:10px;
  height:100px;
  z-index: 10;
  left:0;
  right:0;
  background:rgb(0, 0, 0);
}

/* Position des UL */
nav ul {
  margin: -20px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: center;	
}

/* Nav espacement */
nav li {
  padding: 0.2rem;
}

/* Nav design */
nav a {
  display: relative;
  font-size:0.8rem;
  text-decoration: none;
  justify-content: center;
  max-width: 12rem;
  color: white;
  margin: 2rem auto;
  padding: 1.0rem;
  border-radius: 4px;
  box-shadow: 0 1px 15px rgb(0, 0, 0);
  background-image: linear-gradient(#e71111bd,#ffffff);
  position: relative;
  z-index: 0;
}

/* Hover curseur */
nav ul li a:hover,.demo-nav ul li a:focus-within {	
  transition:0.5s;
  color: black;
  
  }
  
/* G A L E R I E */
#containerGalerie {
  display: flex;
  min-height: 100vh; /*v = viewport, h = height */
  align-items: center;
  justify-content: center;
}

/* Wrapper & positionnement galerie */
#cardsGalerie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 960px; /* multiplier par le margin px*/
}

/* Boite de l'image*/
.windowGalerie {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 5px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(1, 7, 24, 0.611);


/* Hover de la boite image */
}
.windowGalerie:hover {
  z-index:3;
  transform:scale(1.3) rotate(5deg);
  transition:1s;
}


/* DÉBUT Filter */
.section-filter{
  padding:20px;
  width: 1280px;
  margin:40px auto;
}

/* Filtre de gauche à droite */
.section-filter ul{
  /* display:flex; */
  margin-bottom:10px;
  
}

/* Améliore le rendu des filtres */
.section-filter ul li{
  list-style:none;
  background:#eee;
  padding:8px 20px;
  margin:5px;
  letter-spacing: 1px;
  cursor:pointer;
}


/* Ajouter la couleur à la class active */
.section-filter ul li.active{
    background:#03a9f4;
    color: #fff;
}

/* Wrap & flex galerie */
.cardsGalerie{
  display: flex;
  flex-wrap: wrap;
}

.cardsGalerie .windowGalerie{
  position: relative;
  width: 300px;
  height:300px;
  margin:5px;
}

.cardsGalerie .windowGalerie img{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  object-fit: cover;
}

/* FIN FILTER */

/* Zoom image dans l'block */
.img-box img{
  display:block;
  width: 120%;
}

/* E X P O S */
.containerExpos {
  margin: 3em auto;
  width: 610px;
  border: solid white 5px;
  border-radius: 30px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.containerExpos .thumbnail {
  display: flex;
  flex-wrap: wrap; 
}

.containerExpos .thumbnail .thumb {
  height: 200px;
  width: 200px;
  transition: all 0.3s;
  object-fit: cover;
  cursor: pointer;
}

.containerExpos .thumbnail .thumb:hover {
  box-shadow: 3px 3px 20px;
  opacity: 0.8;
}

.desc {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.desc:hover .judul {
  transform: translateY(80px);
}

.desc:hover .tittle {
background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.8) 100%);
opacity: 1;
}

.desc:hover .text {
transform: translateY(-100px);
}

.desc .prev {
object-fit: cover;
width: 600px;
height: 400px;
}

.desc .tittle {
margin: auto;
overflow: hidden;
width: 100%;
height: 100%;
position: absolute;
transition: all 0.3s ease;
opacity: 0;
display: flex;
flex-direction: column;
}

.desc .tittle .judul {
color: white;
padding: 20px;
margin-top: -40px;
transition: all 0.3s ease;
}

.desc .tittle .text {
color: white;
margin-top: 350px;
padding: 20px;
transition: all 0.35s ease 0.4s;
}

@keyframes fade {
to {
  opacity: 1;
}
}
.effect {
opacity: 0;
animation: fade 0.2s forwards;
}

.active {
opacity: 0.5;
}