* {
font-family: 'Lato', sans-serif;
margin: 0;
padding: 0;
}
	
html, body, .section {
  height: 100%;
}

/* Rendre le scroll-bahavior plus smooth */
html {
scroll-snap-type: y mandatory;scroll-snap-type: block mandatory;
scroll-behavior: smooth;
}


/* Rester à l'endroit même en actualisant */
.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  justify-content: center;
}	

/* NAVBAR */
nav{
position:fixed;
top: 0;
z-index: 1;
left:0;
right:0;
 background:rgba(255, 255, 255, 0.52);
}
	
nav ul {
margin: 0;
padding: 0;
list-style-type: none;
display: flex;
width: 100%;
justify-content: center;	
}
	
/* Nav espacement */
nav li {
  padding: 1.5rem;
}

/* Nav design */
nav a {
display: flex;
font-size:1.25rem;
text-decoration: none;
justify-content: center;
max-width: 12rem;
color: white;
margin: 2rem auto;
padding: 1rem;
border-radius: 8px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
background-image: linear-gradient(#6753ea,#3cddc4);
position: relative;
z-index: 0;
}
	
nav ul li a::after {
content: '';
height: 50%;
background-color: currentcolor;
}
	
/* Hover curseur */
nav ul li a:hover,.demo-nav ul li a:focus-within {	
row-gap: 0;	
color: black;
font-weight:bolder;
}

h2 {
text-transform: uppercase;
font-size: 2rem;
}

/* SECTION */
.section-1 {
height: 600px;
background:#e67c7c;

}
.section-2 {
height: 600px;
background:#8d8dea;
}
.section-3 {
height: 600px;
background:#eaea67;
}
	
.section-4 {
height: 600px;
background:#9ceda2;
}	

.section-5 {
height: 600px;
background:#2347aa;
}

.section-6 {
height: 600px;
background:#b8294c;
}	